*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black
    /* background-color: brown; */
}

.logo img{
    width: 200px;
    height: auto;

}

.contenedor{
    display: flex;
    justify-content: space-between; /* texto al final */
    align-items: center;/* centra entre la parte de arriaba y abajo */
    padding: 10px 20px;
    background-color: rgb(0, 0, 0);
}

.menu_list{
    justify-content: flex-end;
    list-style: none;
    display: inline; /* colocar orizontal */
    font-weight:bold ;
    margin-right: 25px; /* esapcio entre las palabras */
    font-size: 20px;   
}

.menu a{
    text-decoration: none; /* quitaar las lineas */
    color: white;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer{
    padding: 0rem 2rem;
    /* padding: 10px 20px; */
    background-color: black;
    margin-top: auto;
    color: white;
}

.logo_principal {
    width: 600px;
    height: auto;
    /* display: block; */
    margin: 0;
    filter: drop-shadow(2px 4px 6px rgba(0,0,0,0.1));

}



