*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black
    /* background-color: brown; */
}

.logo img{
    width: 200px;
    height: auto;

}

.contenedor{
    display: flex;
    justify-content: space-between; /* texto al final */
    align-items: center;/* centra entre la parte de arriaba y abajo */
    padding: 10px 20px;
    background-color: rgb(0, 0, 0);
}

.menu_list{
    justify-content: flex-end;
    list-style: none;
    display: inline; /* colocar orizontal */
    font-weight:bold ;
    margin-right: 25px; /* esapcio entre las palabras */
    font-size: 20px;
}

.menu a{
    text-decoration: none; /* quitaar las lineas */
    color: white;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer{
    padding: 0rem 2rem;
    /* padding: 10px 20px; */
    background-color: black;
    margin-top: auto;
    color: white;
}

.texto {
    display: flex;
    flex-direction: row; /* horizontal */
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center; /* espacio entre tx y img */
    width: 100%;
    gap: 50px;
    padding: 60px 20px; 
    box-sizing: border-box;
}

.contenedor_logo img {
    max-width: 500px;
    width: 500%;
    border-radius: 12px;
    box-shadow: 0px 4px 20px rgb(56, 6, 156);
    transition: all 0.3s;
    border: 2px solid #00bcd4;
} 


.contenedor_logo{
    width: 100%;
    height: auto;
    display: block;
}

 .secc-texto {
    width: 100%;
    max-width: 500px;
    text-align: left;
    font-size: 20px;
} 

.contenedor_logo img:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0px 10px 30px rgba(120, 24, 203, 0.728);
}

/* @media (max-width: 600px) {
    .texto {
        flex-direction: column;
    }
} */

/* @media (max-width: 600px) {
    nav {
        flex-direction: column;
        text-align: center;
    }
} */


@media (max-width: 600px) {
    .texto {
        flex-direction: column;
    }

  .menu {
    display: flex;
    flex-direction: row; /* Para que los nombres queden uno al lado del otro */
    flex-wrap: wrap;    /* Si no cabe que bajen ordenadamente */
    justify-content: center;
    padding: 10px 0;
    font-size: 14px;    /* Letra más pequeña para que quepa en el cel */
  }

  .menu_list {
    margin: 5px 10px;   /* Espacio entre cada botón */
    list-style: none;
  }

    .seccion-principal, .contenedor-principal {
    display: flex;
    flex-direction: column; /* Todo uno debajo del otro */
    align-items: center;
  }

  /* Ajusta las fotos de los productos */
  img {
    max-width: 90%;  /* Que no toquen los bordes del cel */
    height: auto;
  }
}
